
@{
    ViewBag.Title = "Início"; 
}

<h1 class='h2 mt-4'>
    😎

    @if(User.IsInRole(Perfis.Administrador))
    {
        <span>
            Logado com perfil de @Perfis.Administrador
        </span>
    }

    @if(User.IsInRole(Perfis.Comum))
    {
        <span>
            Logado com perfil de @Perfis.Comum  
        </span>
    }
</h1>