@section cabecalho{
    
<h1 class='h2 mt-4'>
    🏡 Início
</h1>

<hr>

    @if(User.IsInRole(Perfis.Administrador))
    {
        <p>
            Logado com perfil de @Perfis.Administrador
        </p>
    }

    @if(User.IsInRole(Perfis.Comum))
    {
        <p>
            Logado com perfil de @Perfis.Comum  
        </p>
    }

}