@model Cor

<div class="input-field">
    <input asp-for="Nome" class="validate" required maxlength="20">        
    <label asp-for="Nome"></label>
    <span class="helper-text" data-error='Campo obrigatório.'></span>
</div>