@model Cor

@{
    ViewData["Title"] = "Editar Cor";
    ViewBag.Icone = "🎨";
}

<form asp-action="Editar" method="POST">    
    
    <input asp-for='Id' type='hidden'>         

    <partial name="_Form"/>

    <button type="submit" class="btn btn-primary"> Salvar </button> 

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}