@model IEnumerable<Cor>

@{
    ViewBag.Title = "Cores";
    ViewBag.Icone = "🎨";
}

@if (Model.Any())
{
    <ul class='list-group'>
        @foreach (var item in Model)
        {   
            <li class="list-group-item">
                <a asp-action='Editar' asp-route-id='@item.Id'>            
                    <p class='mb-0'> <strong> @item.Nome </strong></p>
                </a>
            </li>    
        }
    </ul>
}
