@model LoginVM

@{
    ViewBag.Title = "Acesso Negado";
    Layout = "_LayoutPublico";
    var returnUrl = Context.Request.Query["ReturnUrl"].ToString();
}  
 
<div class='form-signin'>

    <input asp-for='ReturnUrl' value="@returnUrl" type='hidden'>    
    <p class='icone-autenticacao'> ⚠ </p>

    <h1 class="h3 mb-3 font-weight-normal">Acesso Negado</h1>
    <p>
        Somente Admins podem acessar essa página. Para alterar seu perfil é necessário alterar seu perfil de usuário para Adminsitrador 
        
        <a asp-action='Index' asp-controller='Usuarios'>neste link</a>
    </p>
    
</div>
