@model AlterarSenhaVM

@{
    ViewBag.Title = "Alterar Senha";
    Layout = "_LayoutLogin";
}  

<div class="card card-login">
    <div class="card-content">

      <form asp-action="AlterarSenha" method="post">
        
        <div class='caixa-titulo'>
            <span id='logo'> 🔑 </span>  
            <h1>Super OS</h1>
        </div>

        <div class="input-field">          
          <input asp-for='NovaSenha' class="validate" required type="password" maxlength="20" autofocus>                  
          <label asp-for="NovaSenha"></label>
        </div>

        <div class="input-field">          
          <input asp-for='ConfirmarSenha' class="validate" required type="password" maxlength="20" autofocus>                  
          <label asp-for="ConfirmarSenha"></label>
        </div>                     

        <div class='row'>
          <input type="submit" class="btn btn-submit" value="Enviar">     
        </div>

        <div class='divider'></div>

        <div class="row">
          <div class='col red-text center'>
            <a asp-action='EsqueciMinhaSenha'>Esqueci minha senha</a>
          </div>
        </div>

      </form>
    </div>
  </div>