@{
    ViewBag.Title = "Esqueci Minha Senha";
    Layout = "_LayoutLogin";
}  

<div class="card card-login">
    <div class="card-content">

      <form asp-action="EsqueciMinhaSenha" method="post">
        
        <div class='caixa-titulo'>
            <span id='logo'> 🔑 </span>  
            <h1>Exemplo TiaIdentity</h1>
        </div>
      
        <div class="input-field">
          <input name='email' id='email'class="validate" required autofocus type='email'>                  
          <label for="email">Email</label>
        </div>                     

        <div class='row'>
          <input type="submit" class="btn btn-submit" value="Enviar">     
        </div>

      </form>
    </div>
  </div>

  