@model LoginVM

@{
    ViewBag.Title = "Entrar";
    Layout = "_LayoutLogin";
    var returnUrl = Context.Request.Query["ReturnUrl"].ToString();
}  

<div class="card card-login">
    <div class="card-content">

      <form asp-action="Login" method="post">
        <input asp-for='ReturnUrl' value="@returnUrl" type='hidden'>
        
        <div class='caixa-titulo'>            
            <span id='logo'> 🔑 </span>  
            <h1>Exemplo TiaIdentity</h1>
        </div>
      
        <div class="input-field">
          <i class="material-icons prefix">person</i>
          <input asp-for="Usuario" class="validate" required autofocus maxlength="20">                  
          <label asp-for="Usuario"></label>
        </div>

        <div class="input-field">
          <i class="material-icons prefix prefix">lock</i>
          <input asp-for="Senha" class="validate" required minlength="5" maxlength="20" type="password">
          <label asp-for="Senha"> </label>
        </div>
                
        <div class='row'>
          <input type="submit" class="btn btn-submit" value="Entrar">     
        </div>

        <div class='divider'></div>

        <div class="row">
          <div class='col red-text center'>
            <a asp-action='EsqueciMinhaSenha'>Esqueci minha senha</a>
          </div>
        </div>

      </form>
    </div>
  </div>