@{
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();     
    var temBotaoDeCriar = (action is "index");    
}

<h1 class='h2 mt-4'>

    @if (temBotaoDeCriar)
    {                        
        <a asp-action='Criar' class='btn btn-primary' title='Criar Novo'>
            ➕
        </a>            
    }

    @ViewBag.Icone @ViewBag.Title
</h1>

<hr>

