<div class='row hide-on-small-only'>
    <a asp-action='Criar' class="waves-effect waves-light btn right">
        <i class="fa fa-plus left"></i>
        Criar
    </a>
</div>

<div class="fixed-action-btn hide-on-med-and-up">
    <a asp-action='Criar' class="btn-floating btn-large waves-effect waves-light">
        <i class="fa fa-plus"></i>
    </a>        
</div>