<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>@ViewBag.Title - MeAjudaTI </title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="~/css/signin.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/animacoes.css" rel="stylesheet" asp-append-version="true"/>
    
</head>

<body class='cyan'>  

  <main class='valign-wrapper center'>
    @RenderBody()    
  </main>     

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src='~/js/autenticacao/esqueci-minha-senha.js'></script>

</body>
</html>
