@{    
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  
  <div class='container'>

    <button class="navbar-toggler collapsed mr-3" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#"> 
        App
    </a>

    <div class="navbar-collapse collapse" id="navbarCollapse" style="">

        <ul class="navbar-nav mr-auto">

            <li class='nav-item @(controller is "Home" ? "active" : "")'>
                <a class='nav-link' asp-action='Index' asp-controller='Home'>Início</a>
            </li>
            
            <li class='nav-item @(controller is "Cores" ? "active" : "")'>
                <a class='nav-link' asp-action='Index' asp-controller='Cores'>Cores</a>
            </li>                                                

            <li class='nav-item @(controller is "Usuarios" ? "active" : "")'>
                <a class='nav-link' asp-action='Index' asp-controller='Usuarios'>Usuários</a>
            </li>                                   

         

            <li class='nav-item'>
                <a class='nav-link' asp-action='Logout' asp-controller='Autenticacao'>Sair</a>
            </li>  
        </ul>                 

    </div>

  </div>

</nav>