<button type='submit' class='waves-effect waves-light btn hide-on-small-only'>
    <i class='material-icons left'>check</i>
    Salvar
</button>

<div class="fixed-action-btn hide-on-med-and-up">
    <button type="submit" value="Salvar" class="btn-floating btn-large waves-effect waves-light">
        <i class="large material-icons">check</i>
    </button>        
</div>