@model Cor

<div class="form-group">
    <label asp-for="Nome"></label>
    <input asp-for="Nome" class="form-control">        
    <span asp-validation-for="Nome" class="text-danger"></span>
</div>

